//////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    
}


//////////////////////////////////
// SEARCH
.search {
    &__input {

    }
    &__icon {
        height: 2rem;
        width: 2rem;

    }
    &__notification {

    }
}




//////////////////////////////////
// USER NAVIGATION
.user-nav {
    &__icon-box {

    }
    &__notification {

    }
    &__user {

    }
    &__user-photo {

    }
    &__user-name {

    }
}

